* {
  padding-top: 0;
  /* top: 0; */
  margin-left: 0;
  /* background-color: rgb(173, 255, 255); */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("C:\Users\sowmi\Desktop\react-tic-tac-toe\public\assets\wp5415564-simple-heart-wallpapers.jpg");
  height: 98vh;
}

.app > h3 {
  color: rgb(82, 82, 107);
}

.app {
  padding-top: 10px;
}

.app_buttons {
  display: flex;
  margin-top: 60px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.credits{
  font-size: 9px;
  /* margin-top: auto; */
  margin-bottom: -20px;

}
.app_yes {
  padding: 7px 9px;
  border-radius: 10px;
  background-color: rgb(129, 126, 126);
  margin-top: -70px;
  margin-left: -55px;
  /* cursor: po; */
  cursor: pointer;
  color: white;
  position: fixed;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.app_yes:hover {
  background-color: white;
  color: black;
}

.app_no {
  /* position: absolute; */

  left: 39%;
  top: 58%;
}

.app_nos {
  /* background-color: aquamarine; */
  padding: 7px 9px;
  border-radius: 10px;
  background-color: rgb(129, 126, 126);
  cursor: pointer;
  color: white;
}

.app_noy {
  /* background-color: aqua; */
  padding: 7px 9px;
  border-radius: 10px;
  background-color: rgb(129, 126, 126);
  cursor: pointer;
  color: white;
  margin-left: 300px;
}
